<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="http://www.php26.com/index.php?add=1" method="post">
        <p>学　号：<input type="text" name="number"></p>
        <p>姓　名：<input type="text" name="name"></p>
        <p>性　别：<input type="text" name="sex"></p>
        <p>班　级：<input type="text" name="class"></p>
        <p>生源地：<input type="text" name="belong"></p>
        <button>提交</button>
    </form>
    <p><a href="http://www.php26.com/index.php">点击返回</a></p>

</body>
</html>